/* FONTS */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

/* VARIABLES */
:root {
  /*-- gradient colors -- */
  --accent-clr-300: 237 73 79;
  --accent-clr-700: 238 63 64;
  /*-- gradient colors -- */
  --neutral-clr-50: 240 78 98;
  --neutral-clr-650: 233 13 49;
  --neutral-clr-700: 232 13 33;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 4rem;

  /* text sizing */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
}

@layer defaults, utilities, components;

@layer defaults {

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    color: hsl(var(--neutral-clr-700));
    background-color: hsl(var(--neutral-clr-50));
    background-image: url("/images/bg-top.svg");
    background-repeat: no-repeat;
    background-position: 225px -20px;
    font-family: "Montserrat", sans-serif, system-ui;
    font-weight: 700;
    line-height: 1.5;
  }

  h1,
  h2,
  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  button {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
  }
}

@layer utilities {
  .btn {
    display: block;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: white;
    font-size: var(--text-sm);
    letter-spacing: 3px;
    cursor: pointer;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .bg-light {
    color: hsl(var(--accent-clr-700));
    background-color: white;
  }

  .bg-gradient {
    color: white;
    background-image: linear-gradient(
      to right,
      hsl(var(--accent-clr-300)),
      hsl(var(--accent-clr-700))
    );
  }

  .bg-gradient-card {
    color: white;
    background-image: linear-gradient(
      to bottom,
      hsl(var(--accent-clr-300)),
      hsl(var(--accent-clr-700))
    );
  }
}

@layer components {
  .toggle-switch:where([role="switch"]) {
    inline-size: 55px;
    block-size: 32px;
    border: none;
    border-radius: 1rem;
    position: relative;
    background-image: linear-gradient(
      to right,
      hsl(var(--accent-clr-300)),
      hsl(var(--accent-clr-700))
    );
    cursor: pointer;

    .thumb {
      --size: calc(var(--spacing-sm) * 3);
      display: block;
      inline-size: var(--size);
      block-size: var(--size);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateX(0.25rem) translateY(-50%);
      background-color: white;
    }
  }

  .toggle-switch:where([aria-checked="true"]) {
    .thumb {
      transform: translateX(1.7rem) translateY(-50%);
    }
  }
}

header {
  padding: var(--spacing-xl);
  margin-block: 0 var(--spacing-xl);
  text-align: center;
}

h1 {
  margin-block-end: var(--spacing-lg);
  color: hsl(var(--neutral-clr-650));
}

.switch-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
}

.switch-area span {
  color: hsl(var(--neutral-clr-650) / 0.7);
}

/* CARDS */
.cards-wrapper {
  display: grid;
  gap: var(--spacing-lg);
  max-inline-size: 1100px;
  margin-inline: var(--spacing-lg);
  margin-block: 0 var(--spacing-2xl);
}

.pricing-card {
  --radius: var(--spacing-sm);
  display: grid;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  border-radius: var(--radius);
  background-color: white;
  text-align: center;
  box-shadow: 1px 5px 17px -4px hsl(var(--accent-clr-700) / 0.3);
}

.pricing-card.bg-gradient-card .price-tier { 
  color: inherit;
}

.pricing-card .price-tier {
  color: hsl(var(--neutral-clr-650));
  font-size: var(--text-lg);
}

.pricing-card .price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: 2.5rem;

  span {
    font-size: 4rem;
  }
}

.card-features {
  li {
    padding-block: var(--spacing-md);
    border-block: 1px solid hsl(var(--neutral-clr-650) / 0.4);
    color: hsl(var(--neutral-clr-650));
  }

  li + li {
    border-block-start: none;
  }
}

.pricing-card.bg-gradient-card .card-features {
  li {
    color: inherit;
    border-color: hsl(var(--neutral-clr-50) / 0.4);
  }
}

.pricing-card .btn {
  margin-block: var(--spacing-md) 0;
}

/* MEDIA QUERIES */

@media screen and (width >= 780px) {
  body {
    background-image: url("/images/bg-top.svg"), url("/images/bg-bottom.svg");
    background-position: 85% 25%, 10% bottom;
  }

  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    gap: 0;
    margin-inline: auto;
  }

  .pricing-card:nth-child(2) .price-tier {
    margin-block-start: var(--spacing-lg);
  }

  .pricing-card:nth-child(2) .btn {
    margin-block-end: var(--spacing-lg);
  }

  @layer utilities {
    .btn:focus-visible {
      outline-offset: 4px;
    }

    .bg-light {
      border: 1px solid white;
    }

    .bg-light:hover {
      background-color: transparent;
      color: white;
    }

    .bg-gradient {
      border: 1px solid hsl(var(--accent-clr-300));
    }

    .bg-gradient:hover {
      color: hsl(var(--accent-clr-700));
      background-image: none;
    }
  }

  @layer components {
    .toggle-switch:where([role="switch"]):hover {
      opacity: 0.5;
    }

    .toggle-switch:where([role="switch"]):focus-visible {
      outline-color: hsl(var(--accent-clr-700));
      outline-offset: 6px;
    }
  }
}